* {
    // border: 1px solid black;
}
#main-login {
    width: 60%;
    min-width: 200px;
    margin: 2% auto;

    border-radius: 1%;
    overflow: hidden;
    box-sizing: border-box;

    background: $bg-main-login;
    @extend %shaded-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    * {
        // margin: 2%;
        // padding: 2%;
        // border: 1px solid grey;
        text-align: center;
    }

    >header {
        width: 100%;
        padding: 3%;
        margin: 0 auto 5% auto;
        background: #4b475b38;
    }

    form {
        // display: none;
        width: 90%;
        padding: 2%;
        margin: 2% auto;
        input {
            width: 80%;
        }
        tr {
            margin: 2% auto;
        }
    }
    >div {
        width: 100%;
        padding: 2%;
        margin: 0 auto;
    }
    input, h3 {
        margin: 2%;
    }


}

#div-notice {

}
#div-error {
    color: rgb(73, 25, 35);
    padding: 2%;

    // display: none;
}
#div-btns {
    display: flex;
    justify-content: space-around;
}
#div-notif {
    display: flex;
    flex-direction: column;
    a {
        display: inline-block;
        margin: 2%;
    }
}
#div-logout {
}

#sec-connection, #sec-registration {
    width: 80%;
    display: none;
    flex-direction: column;
    margin: 0 auto 5% auto;

    border-radius: 2%;

    @extend %shaded-box;
    background: #4b475b38;
}

////////////////////////////////////////////////////////////
//
#main-add {
    width: 60%;
    min-width: 200px;
    margin: 2% auto;
    padding: 2%;

    border-radius: 1%;
    overflow: hidden;
    box-sizing: border-box;

    background: $bg-main-login;
    @extend %shaded-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#container-form-add {
    padding: 5%;
    display: flex;
    flex-direction: column;

    @extend %shaded-box;
    background: #4b475b38;
}

#form-add {
    display: flex;
    flex-direction: column;
    padding: 5%;

    input {
        padding: 2%;
        margin: 2%;
    }
}

#main-list {
    padding: 1%;
    width: 90%;
    // background-color: green;

    margin: 0 auto;

    @extend %shaded-box;
    background: #4b475b38;

    h3 {
        text-align: center;
        margin: 2% auto;
    }
}
#container-form-list {
    width: 100%;
    // background-color: indianred;

    padding: 5%;
    margin-bottom: 2%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;


}
.container-form {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    * {
        padding: 2%;
        margin: 2%;
    }

    @extend %shaded-box;
    background: #4b475b38;
}
.form-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
        width: 100%;
    }
}
#div-actions {
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        justify-content: center;
    }
}

.admin-main {
    input[type=button], input[type=submit] {
        width: 100px;
        margin: 5% auto;
        margin: 5% auto;
    
        padding: 2%;
    }
}
input[id*=btn-suppr] {
    width: 50px !important;
}


