@font-face {
	font-family: 'bradhitc';
	src: url('../../static/fonts/bradhitc/bradhitc.eot');
	src: local('☺'), url('../../static/fonts/bradhitc/bradhitc.woff') format('woff'), url('../../static/fonts/bradhitc/bradhitc.ttf') format('truetype'), url('../../static/fonts/fonts/bradhitc/bradhitc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
    overflow-y: scroll;
    font-family: "bradhitc";
    font-size: 20px;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid grey;
    // margin: 1%;

    div {
        // border: 1px solid gray;
    }
}
nav, nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.icon {
    width: 34px !important;
    height: 34px !important;
}

