@import 'variables.scss', 'reset.scss', 'articles.scss', 'part-admin.scss', 'keyframes.scss', 'medias.scss';

span {
    font-size: 1.5em;
    color: rgb(118, 102, 102);
}

section:not(#skills-section) {
    @extend %shaded-box;
}
#skills-content {
    @extend %shaded-box;
}
#header-general {
    background: $bg-1;
    // background-image: linear-gradient(rgba(128, 128, 128, 0.618), transparent) ;

    &:hover {
        background-image: linear-gradient(rgba(128, 128, 128, 0.618), transparent) ;
    }
}


