$bg-grey: #c2bdbdc7;

$bg-1: $bg-grey;
$color-1: rgba(0, 0, 0, 0.672);

$a-color: $color-1;
$bg-sec-cont: $bg-1;
$bg-pres-sec: $bg-1;
$bg-proj-sec: $bg-1;
$bg-contacts-main: $bg-1;
$bg-mess-sec: $bg-1;
